html, body{
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}
body{
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
canvas{
  width: 60%;
  height: 88%;
 /* margin-left: 20%;
  margin-right: 20%;*/
}
#head{
  position: absolute;
  top: 20px;
  left: 20px;
  color: gray;
  font-size: 30pt;
}


.left_area, canvas, .right_area{
  float: left;
  
}

.left_area, .right_area{
  width: 20%;
  padding-top: 10%;
  /*background: purple;*/
  color: white;
  font-size: 1.5em;
}
.left_area *{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30%;
  background: #f7b61f;
  text-align: center;
  border-radius: 3px;
}
.right_area .score_and_best,.landing_interval, .pause{

  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30%;
  background: #f7b61f;
  text-align: center;
  border-radius: 3px;
}
.pause{
  cursor: pointer;
}



/*.about_score{
  position: absolute;
  top: 78%;
  left: 44%;
  text-align: center;
  width: 12%;

}*/
/*.about_score .score_and_best{
  position: relative;
  top: 30%;
}*/
#score_addition{ 
  text-align: center;
  font-size: 2.2em;
}
.landing_interval, #score, #best{
  color: gray;
  word-wrap: normal;
}
#score{
  font-size: 2em;
}
#best{
  font-size: 1em;
}


#lose{
  display: none;
  text-align: center;
  font-size:20pt;
  color:white;
  word-wrap:normal;
  width: 25%;
  height: 40%;
  position:absolute;
  top:30%;
  left:37.5%;
  background-color:rgba(250,210,150,0.5);
}
#lose #enjoy_again{
  background-color: #f7b61f;
  /*font-size: xx-large;*/
  line-height: 50px;
  cursor: pointer;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}




#introduction{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  color:gray;
  font-size:18pt;
  /*background: blue;*/
}
/#introduction *{
  width: 100%;
}

#about{

  text-align: center;
}
